*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Nerko One', cursive;
  background-color: #add8e6;
}

/* NAVBAR */
.title{
  font-size: 70px;
  color: white;
  text-align: center;
  text-shadow: 1px 1px #000000;
}

/* MAIN */
.container{
  margin: auto;
  width: 860px;
  height: 1100px;
}

.row-1, .row-2, .row-3{
  position: relative;
}

.row-1{
  top: 50px
}

.row-2{
  top: 400px;
}

.row-3{
  top: 750px;
}

.box{
  height: 300px;
  width: 200px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 1px 1px 5px #888888;
}

.col-1{
  position: absolute;
  left: 0;
}

.col-2{
  position: absolute;
  left: 220px;
}

.col-3{
  position: absolute;
  left: 440px;
}

.col-4{
  position: absolute;
  left: 660px;
}

/* FOOTER */
.made-by{
  text-align: center;
  margin-bottom: 100px
}
